In [5]:
import pandas as pd

**Reading the dataset**

In [9]:
dt_baseball = pd.read_csv('/content/mlbbat10.csv')

*Investigando a quantidade de colunas e elementos que a tabela possui.*

In [7]:
dt_baseball.shape

(1199, 18)

*Os primeiros 5 elementos da tabela s√£o:*

In [10]:
dt_baseball.head()

,name,team,position,game,at_bat,run,hit,double,triple,home_run,rbi,total_base,walk,strike_out,stolen_base,caught_stealing,obp,slg,bat_avg
0,I Suzuki,SEA,OF,162,680,74,214,30,3,6,43,268,45,86,42,9,0.359,0.394,0.315
1,D Jeter,NYY,SS,157,663,111,179,30,3,10,67,245,63,106,18,5,0.340,0.370,0.270
2,M Young,TEX,3B,157,656,99,186,36,3,21,91,291,50,115,4,2,0.330,0.444,0.284
3,J Pierre,CWS,OF,160,651,96,179,18,3,1,47,206,45,47,68,18,0.341,0.316,0.275
4,R Weeks,MIL,2B,160,651,112,175,32,4,29,83,302,76,184,11,4,0.366,0.464,0.269