In [30]:
import pandas as pd
import matplotlib.pyplot as plt

### Pre processing

**Reading the dataset**

In [31]:
dt_baseball = pd.read_csv('mlbbat10.csv')

*Investigating the number of columns and elements that the table has. Which is 1199 elements (players) with 19 columns*

In [32]:
dt_baseball.shape

(1199, 19)

*Initially it will be analyzed which are the columns that the dataset has:*

In [33]:
dt_baseball.columns

Index(['name', 'team', 'position', 'game', 'at_bat', 'run', 'hit', 'double',
       'triple', 'home_run', 'rbi', 'total_base', 'walk', 'strike_out',
       'stolen_base', 'caught_stealing', 'obp', 'slg', 'bat_avg'],
      dtype='object')

*If you don't understand baseball that's fine, i'll help you understand what each column means.*



*   **name** : the name of the player
*   **team** : the player's team
*   **position** : the player's position
*   **game** : how many games did he play
*   **at_bat** : the number of times the player had time at bat against a pitcher
*   **run** : is the number of runs the player has made safely around 3 bases and back safely before 3 outs are made.
*   **hit** : how many times did the player reach safety after hitting the ball
*   **double** : how many times did the player hit the pitched ball and safely reached second base
*   **triple** : how many times did the player hit the ball and reached third base, without the help of an intervening error or attempt to put out another baserunner.
*   **home run** : how many times the player did hit the ball and was able to circle the bases and reach home plate safely.
*   **rbi** : is how many times the player who did the batter made a play the allowed a run to be scored.
*   **total_base** : how many bases the player gained with hits.
*   **walk** : how many times the player (batter) received four piches during a plate appearance.
*   **strike_out** : how many times the player recieve three strikes during a time at the bat.
*   **stolen_base** : how many times the player made a stolen base, which is when the player advances to a base.
*   **caught_stealing** : how many times the player was caught stealing, which is when the runner attempts to advance from one to another without the ball being batted and is tagged out by other player (fielder).
*   **obp** : it is called ob base percentage, and is how frequently a batter reaches base per plate appearance.
*   **slg** : it is called slugging percentage, and represents the total number of bases a player records per at bat.
*   **bat_avg** : players hits by total at bats, measures the perfomance of batters.

What types of data does each column have?

In [34]:
dt_baseball.dtypes

name                object
team                object
position            object
game                 int64
at_bat               int64
run                  int64
hit                  int64
double               int64
triple               int64
home_run             int64
rbi                  int64
total_base           int64
walk                 int64
strike_out           int64
stolen_base          int64
caught_stealing      int64
obp                float64
slg                float64
bat_avg            float64
dtype: object

Let's analyze whether there is missing data in the table so that the statistics are not wrong.

In [35]:
pd.isna(dt_baseball).any()

name               False
team               False
position           False
game               False
at_bat             False
run                False
hit                False
double             False
triple             False
home_run           False
rbi                False
total_base         False
walk               False
strike_out         False
stolen_base        False
caught_stealing    False
obp                False
slg                False
bat_avg            False
dtype: bool

Checking if there are players who do not have a specific position.

In [36]:
dt_baseball.loc[dt_baseball['position'].isna()]

Empty DataFrame
Columns: [name, team, position, game, at_bat, run, hit, double, triple, home_run, rbi, total_base, walk, strike_out, stolen_base, caught_stealing, obp, slg, bat_avg]
Index: []

Creating new columns for game proportion scores

In [37]:
dt_baseball["home_per_game"] = dt_baseball["home_run"] / dt_baseball["game"]
dt_baseball["rbi_per_game"] = dt_baseball["rbi"] / dt_baseball["game"]
dt_baseball["strike_out_per_bat"] = dt_baseball["strike_out"] / dt_baseball["at_bat"]

### Initial data analysis

*The first 5 elements of the dataset are:*

In [38]:
dt_baseball.head()

,name,team,position,game,at_bat,run,hit,double,triple,home_run,...,walk,strike_out,stolen_base,caught_stealing,obp,slg,bat_avg,home_per_game,rbi_per_game,strike_out_per_bat
0,I Suzuki,SEA,OF,162,680,74,214,30,3,6,...,45,86,42,9,0.359,0.394,0.315,0.037037,0.265432,0.126471
1,D Jeter,NYY,SS,157,663,111,179,30,3,10,...,63,106,18,5,0.340,0.370,0.270,0.063694,0.426752,0.159879
2,M Young,TEX,3B,157,656,99,186,36,3,21,...,50,115,4,2,0.330,0.444,0.284,0.133758,0.579618,0.175305
3,J Pierre,CWS,OF,160,651,96,179,18,3,1,...,45,47,68,18,0.341,0.316,0.275,0.006250,0.293750,0.072197
4,R Weeks,MIL,2B,160,651,112,175,32,4,29,...,76,184,11,4,0.366,0.464,0.269,0.181250,0.518750,0.282642

*I'm a New York Yankees fan, so I'm going to show you all the players from that team*

In [39]:
dt_baseball[dt_baseball['team']=='NYY']['name']

1             D Jeter
8              R Cano
20         M Teixeira
58          N Swisher
92        A Rodriguez
122         B Gardner
131      C Granderson
167          A Kearns
182          J Posada
268        F Cervelli
315          M Thames
374            R Pena
427         L Berkman
472         N Johnson
488         J Miranda
506            R Winn
510          C Curtis
552           E Nunez
555           K Russo
666          G Golson
690         C Huffman
709         C Moeller
792        C Sabathia
811        A Pettitte
903         A Burnett
930          P Hughes
953          M Rivera
967         J Vazquez
971          A Aceves
1010    J Chamberlain
1042         C Gaudin
1079          B Logan
1090          D Marte
1101          S Mitre
1109           I Nova
1120           C Park
1145      D Robertson
Name: name, dtype: object

The first player of the dataset is:

In [40]:
dt_baseball.iloc[0]

name                  I Suzuki
team                       SEA
position                    OF
game                       162
at_bat                     680
run                         74
hit                        214
double                      30
triple                       3
home_run                     6
rbi                         43
total_base                 268
walk                        45
strike_out                  86
stolen_base                 42
caught_stealing              9
obp                      0.359
slg                      0.394
bat_avg                  0.315
home_per_game         0.037037
rbi_per_game          0.265432
strike_out_per_bat    0.126471
Name: 0, dtype: object

If you want to know which player is the one who have the id 10

In [41]:
dt_baseball.loc[10:10, 'team']

10    MIL
Name: team, dtype: object

Showing you only the players, which team they play for and in which position.

In [42]:
dt_baseball.loc[0:, ['name', 'team', 'position']]

            name team position
0       I Suzuki  SEA       OF
1        D Jeter  NYY       SS
2        M Young  TEX       3B
3       J Pierre  CWS       OF
4        R Weeks  MIL       2B
...          ...  ...      ...
1194      B Wood   KC        P
1195    M Wuertz  OAK        P
1196  M Zagurski  PHI        P
1197   B Ziegler  OAK        P
1198    J Zumaya  DET        P

[1199 rows x 3 columns]

One of the most importants plays in baseball is hits, so let's see who are the main players who participated in these

In [43]:
dt_baseball.loc[dt_baseball["hit"].sort_values(ascending=False)].head(10)

,name,team,position,game,at_bat,run,hit,double,triple,home_run,...,walk,strike_out,stolen_base,caught_stealing,obp,slg,bat_avg,home_per_game,rbi_per_game,strike_out_per_bat
214,J Hardy,MIN,SS,101,340,44,91,19,3,6,...,28,54,1,1,0.320,0.394,0.268,0.059406,0.376238,0.158824
200,S Smith,COL,OF,133,358,55,88,19,5,17,...,35,67,2,1,0.314,0.469,0.246,0.127820,0.390977,0.187151
197,C Coghlan,FLA,OF,91,358,60,96,20,3,5,...,33,84,10,3,0.335,0.383,0.268,0.054945,0.307692,0.234637
189,M Maier,KC,OF,117,373,41,98,15,6,5,...,41,68,3,2,0.333,0.375,0.263,0.042735,0.333333,0.182306
189,M Maier,KC,OF,117,373,41,98,15,6,5,...,41,68,3,2,0.333,0.375,0.263,0.042735,0.333333,0.182306
188,J Cantu,FLA,3B,97,374,41,98,25,0,10,...,23,76,0,0,0.310,0.409,0.262,0.103093,0.556701,0.203209
187,F Lopez,STL,3B,109,376,50,87,18,1,7,...,43,77,8,2,0.310,0.340,0.231,0.064220,0.330275,0.204787
186,M LaPorta,CLE,1B,110,376,41,83,15,1,12,...,46,82,0,0,0.306,0.362,0.221,0.109091,0.372727,0.218085
186,M LaPorta,CLE,1B,110,376,41,83,15,1,12,...,46,82,0,0,0.306,0.362,0.221,0.109091,0.372727,0.218085
186,M LaPorta,CLE,1B,110,376,41,83,15,1,12,...,46,82,0,0,0.306,0.362,0.221,0.109091,0.372727,0.218085

One of the most important plays in baseball is the home run, so let's find out the statistics in the table about this play

In [44]:
dt_baseball.home_run.describe()

count    1199.000000
mean        3.847373
std         7.372345
min         0.000000
25%         0.000000
50%         0.000000
75%         4.000000
max        54.000000
Name: home_run, dtype: float64

What positions are the ones that hit the most home runs?

In [45]:
dt_baseball.loc[dt_baseball["hit"]]["position"].value_counts()

position
OF    692
SS    150
2B    129
3B    110
1B     84
C      20
DH     14
Name: count, dtype: int64

What was the average number of games that the league's players played?

In [59]:
float(dt_baseball.game.mean())

50.534612176814015

Which teams have the most players? And which teams have the fewest players in this database?

In [47]:
dt_baseball.team.value_counts()

team
FLA    53
NYM    47
PIT    46
ARI    45
WSH    45
HOU    44
COL    44
LAD    44
CIN    43
ATL    42
BOS    42
STL    41
SD     41
SEA    40
SF     40
MIL    40
PHI    39
CHC    39
LAA    38
NYY    37
TEX    37
BAL    36
DET    36
MIN    36
OAK    36
CLE    35
TOR    34
TB     34
KC     33
CWS    32
Name: count, dtype: int64

Strike outs are statistics that reveal the pitcher's dominance and the batsman's incompetence, so let's analyze the players who have the most strike outs and are in the pitcher position.

In [48]:
dt_baseball.loc[dt_baseball["position"]=="P"][["name", "strike_out"]].sort_values(by="strike_out", ascending=False)

            name  strike_out
449   R Halladay          42
487      R Lopez          35
483       M Cain          33
525     P Maholm          31
479     B Arroyo          31
...          ...         ...
1191  R Williams           0
1192      K Wood           0
1193      T Wood           0
1194      B Wood           0
1195    M Wuertz           0

[544 rows x 2 columns]

Another very popular team is the Los Angeles Dodgers, let's see their players.

In [49]:
dt_baseball.loc[dt_baseball.team.map(lambda team : team == 'LAD')].name

19             M Kemp
33            J Loney
38          R Theriot
98           A Ethier
104           C Blake
181          R Furcal
202         J Carroll
218          R Martin
234         R Barajas
323         R Johnson
330         M Ramirez
362        R Belliard
373        G Anderson
380       S Podsednik
395          J Castro
406            X Paul
423           A Ellis
469         J Gibbons
490          B Ausmus
495     C Billingsley
529         C Kershaw
530          H Kuroda
538           T Lilly
574        R Mitchell
637             J Ely
648         V Padilla
667              C Hu
668         T Oeltjen
710     C Monasterios
721         J Lindsey
771          C Haeger
794          J Weaver
886        R Troncoso
932          K Jansen
934             H Kuo
959     T Schlichting
984       R Belisario
998         J Broxton
1028         S Elbert
1078           J Link
1100         J Miller
1118          R Ortiz
1160       G Sherrill
1179       J Taschner
Name: name, dtype: object

Stolen base is one of the important defensive plays, let's check which players have the highest number of stolen bases

In [50]:
dt_baseball.loc[dt_baseball["stolen_base"]][["name", "stolen_base"]].sort_values(by="stolen_base", ascending=False)

          name  stolen_base
3     J Pierre           68
3     J Pierre           68
3     J Pierre           68
3     J Pierre           68
3     J Pierre           68
..         ...          ...
28  A Gonzalez            0
20  M Teixeira            0
24    B Butler            0
20  M Teixeira            0
24    B Butler            0

[1199 rows x 2 columns]

What positions had the fewest home runs?

In [51]:
dt_baseball.groupby('position').home_run.count().sort_values()

position
-       8
DH     25
1B     69
3B     71
SS     71
2B     72
C     113
OF    226
P     544
Name: home_run, dtype: int64

How many home runs did each team hit?

In [52]:
dt_baseball.groupby('team').home_run.count()

team
ARI    45
ATL    42
BAL    36
BOS    42
CHC    39
CIN    43
CLE    35
COL    44
CWS    32
DET    36
FLA    53
HOU    44
KC     33
LAA    38
LAD    44
MIL    40
MIN    36
NYM    47
NYY    37
OAK    36
PHI    39
PIT    46
SD     41
SEA    40
SF     40
STL    41
TB     34
TEX    37
TOR    34
WSH    45
Name: home_run, dtype: int64

Which player had the most home runs?

In [53]:
dt_baseball.loc[(dt_baseball.home_run.idxmax()), 'name']

'J Bautista'

Who had the most home runs on each team?

In [54]:
dt_baseball.loc[(dt_baseball.groupby('team').home_run.idxmax()), ('name', 'home_run', 'team')].sort_values(by='home_run')

             name  home_run team
68   Y Betancourt        16   KC
71   K Kouzmanoff        16  OAK
27        G Jones        21  PIT
120      B McCann        21  ATL
73         S Choo        22  CLE
185     R Branyan        25  SEA
13        H Pence        25  HOU
133     A Ramirez        25  CHC
262       J Thome        25  MIN
138      M Napoli        26  LAA
54         A Huff        26   SF
140       L Scott        27  BAL
118        C Pena        28   TB
19         M Kemp        28  LAD
37       D Wright        29  NYM
74       R Howard        31  PHI
28     A Gonzalez        31   SD
95     J Hamilton        32  TEX
97        D Ortiz        32  BOS
46      P Fielder        32  MIL
110    M Reynolds        32  ARI
31        D Uggla        33  FLA
20     M Teixeira        33  NYY
34     C Gonzalez        34  COL
78        J Votto        37  CIN
75      M Cabrera        38  DET
65         A Dunn        38  WSH
76      P Konerko        39  CWS
35       A Pujols        42  STL
53     J Bautista        54  TOR

I want to know which player on each team had the most strike outs

In [55]:
dt_baseball.loc[dt_baseball.groupby("team")["strike_out"].idxmax()]

,name,team,position,game,at_bat,run,hit,double,triple,home_run,...,walk,strike_out,stolen_base,caught_stealing,obp,slg,bat_avg,home_per_game,rbi_per_game,strike_out_per_bat
110,M Reynolds,ARI,3B,145,499,79,99,17,2,32,...,83,211,7,4,0.320,0.433,0.198,0.220690,0.586207,0.422846
77,D Lee,ATL,1B,148,547,80,142,35,0,19,...,73,134,1,3,0.347,0.428,0.260,0.128378,0.540541,0.244973
42,A Jones,BAL,OF,149,581,76,165,25,5,19,...,23,119,7,7,0.325,0.442,0.284,0.127517,0.463087,0.204819
97,D Ortiz,BOS,DH,145,518,86,140,36,1,32,...,82,145,0,1,0.370,0.529,0.270,0.220690,0.703448,0.279923
112,A Soriano,CHC,OF,147,496,67,128,40,3,24,...,45,123,5,1,0.322,0.496,0.258,0.163265,0.537415,0.247984
101,D Stubbs,CIN,OF,150,514,91,131,19,6,22,...,55,168,30,6,0.329,0.444,0.255,0.146667,0.513333,0.326848
73,S Choo,CLE,OF,144,550,81,165,31,2,22,...,83,118,22,7,0.401,0.484,0.300,0.152778,0.625000,0.214545
34,C Gonzalez,COL,OF,145,587,111,197,34,9,34,...,40,135,26,8,0.376,0.598,0.336,0.234483,0.806897,0.229983
76,P Konerko,CWS,1B,149,548,89,171,30,1,39,...,72,110,0,1,0.393,0.584,0.312,0.261745,0.744966,0.200730
11,A Jackson,DET,OF,151,618,103,181,34,10,4,...,47,170,27,6,0.345,0.400,0.293,0.026490,0.271523,0.275081
31,D Uggla,FLA,2B,159,589,100,169,31,0,33,...,78,149,4,1,0.369,0.508,0.287,0.207547,0.660377,0.252971
83,M Bourn,HOU,OF,141,535,84,142,25,6,2,...,59,109,52,12,0.341,0.346,0.265,0.014184,0.269504,0.203738
173,J Guillen,KC,DH,106,396,46,101,17,2,16,...,27,84,1,0,0.314,0.429,0.255,0.150943,0.584906,0.212121
138,M Napoli,LAA,1B,140,453,60,108,24,1,26,...,42,137,4,2,0.316,0.468,0.238,0.185714,0.485714,0.302428
19,M Kemp,LAD,OF,162,602,82,150,25,6,28,...,53,170,19,15,0.310,0.450,0.249,0.172840,0.549383,0.282392
4,R Weeks,MIL,2B,160,651,112,175,32,4,29,...,76,184,11,4,0.366,0.464,0.269,0.181250,0.518750,0.282642
96,J Kubel,MIN,OF,143,518,68,129,23,3,21,...,56,116,0,1,0.323,0.427,0.249,0.146853,0.643357,0.223938
37,D Wright,NYM,3B,157,587,87,166,36,3,29,...,69,161,19,11,0.354,0.503,0.283,0.184713,0.656051,0.274276
58,N Swisher,NYY,OF,150,566,91,163,33,3,29,...,58,139,1,2,0.359,0.511,0.288,0.193333,0.593333,0.245583
204,J Cust,OAK,DH,112,349,50,95,19,0,13,...,68,127,2,2,0.395,0.438,0.272,0.116071,0.464286,0.363897
74,R Howard,PHI,1B,143,550,87,152,23,5,31,...,59,157,1,1,0.353,0.505,0.276,0.216783,0.755245,0.285455
27,G Jones,PIT,1B,158,592,64,146,34,1,21,...,53,123,7,3,0.306,0.414,0.247,0.132911,0.544304,0.207770
14,C Headley,SD,3B,161,610,77,161,29,3,11,...,56,139,17,5,0.327,0.375,0.264,0.068323,0.360248,0.227869
56,F Gutierrez,SEA,OF,152,568,61,139,25,3,12,...,50,137,25,3,0.303,0.363,0.245,0.078947,0.421053,0.241197
108,A Torres,SF,OF,139,507,84,136,43,8,16,...,56,128,26,7,0.343,0.479,0.268,0.115108,0.453237,0.252465
135,C Rasmus,STL,OF,144,464,85,128,28,3,23,...,63,148,12,8,0.361,0.498,0.276,0.159722,0.458333,0.318966
82,B Upton,TB,OF,154,536,89,127,38,4,18,...,67,164,42,9,0.322,0.424,0.237,0.116883,0.402597,0.305970
2,M Young,TEX,3B,157,656,99,186,36,3,21,...,50,115,4,2,0.330,0.444,0.284,0.133758,0.579618,0.175305
55,A Lind,TOR,DH,150,569,57,135,32,3,23,...,38,144,0,0,0.287,0.425,0.237,0.153333,0.480000,0.253076
65,A Dunn,WSH,1B,158,558,85,145,36,2,38,...,77,199,0,1,0.356,0.536,0.260,0.240506,0.651899,0.356631

### General Analysis

The 12 players with the most game appearances are:

In [56]:
dt_baseball.loc[dt_baseball["game"].sort_values(ascending=False).head(12).index]

,name,team,position,game,at_bat,run,hit,double,triple,home_run,...,walk,strike_out,stolen_base,caught_stealing,obp,slg,bat_avg,home_per_game,rbi_per_game,strike_out_per_bat
19,M Kemp,LAD,OF,162,602,82,150,25,6,28,...,53,170,19,15,0.310,0.450,0.249,0.172840,0.549383,0.282392
0,I Suzuki,SEA,OF,162,680,74,214,30,3,6,...,45,86,42,9,0.359,0.394,0.315,0.037037,0.265432,0.126471
18,C Figgins,SEA,2B,161,602,62,156,21,2,1,...,74,114,42,15,0.340,0.306,0.259,0.006211,0.217391,0.189369
53,J Bautista,TOR,OF,161,569,109,148,35,3,54,...,100,116,9,2,0.378,0.617,0.260,0.335404,0.770186,0.203866
46,P Fielder,MIL,1B,161,578,94,151,25,0,32,...,114,138,1,0,0.401,0.471,0.261,0.198758,0.515528,0.238754
33,J Loney,LAD,1B,161,588,67,157,41,2,10,...,52,95,10,5,0.329,0.395,0.267,0.062112,0.546584,0.161565
14,C Headley,SD,3B,161,610,77,161,29,3,11,...,56,139,17,5,0.327,0.375,0.264,0.068323,0.360248,0.227869
8,R Cano,NYY,2B,160,626,103,200,41,3,29,...,57,77,3,2,0.381,0.534,0.319,0.181250,0.681250,0.123003
28,A Gonzalez,SD,1B,160,591,87,176,33,0,31,...,93,114,0,0,0.393,0.511,0.298,0.193750,0.631250,0.192893
4,R Weeks,MIL,2B,160,651,112,175,32,4,29,...,76,184,11,4,0.366,0.464,0.269,0.181250,0.518750,0.282642
3,J Pierre,CWS,OF,160,651,96,179,18,3,1,...,45,47,68,18,0.341,0.316,0.275,0.006250,0.293750,0.072197
6,N Markakis,BAL,OF,160,629,79,187,45,3,12,...,73,93,7,2,0.370,0.436,0.297,0.075000,0.375000,0.147854

Best offensive player:

In [57]:
p75_obp = float(dt_baseball.describe()["obp"]["75%"])
p75_slg = float(dt_baseball.describe()["slg"]["75%"])
p75_bat_avg = float(dt_baseball.describe()["bat_avg"]["75%"])
p75_rbi = float(dt_baseball.describe()["rbi"]["75%"])
p75_home_run = float(dt_baseball.describe()["home_per_game"]["75%"])
p25_strike_out = float(dt_baseball.describe()["strike_out_per_bat"]["25%"])
dt_baseball[["obp", "slg", "bat_avg", "rbi", "home_run", "strike_out"]]
values_best_offensive = [p75_obp, p75_slg, p75_bat_avg, p75_rbi, p75_home_run, p25_strike_out]

dt_baseball.loc[(dt_baseball["obp"] > p75_obp) & 
                (dt_baseball["slg"] > p75_slg) &
                (dt_baseball["bat_avg"] > p75_bat_avg) &
                (dt_baseball["rbi"] > p75_rbi) &
                (dt_baseball["home_per_game"] > p75_home_run) &
                (dt_baseball["strike_out_per_bat"] < p25_strike_out)]

,name,team,position,game,at_bat,run,hit,double,triple,home_run,...,walk,strike_out,stolen_base,caught_stealing,obp,slg,bat_avg,home_per_game,rbi_per_game,strike_out_per_bat
6,N Markakis,BAL,OF,160,629,79,187,45,3,12,...,73,93,7,2,0.370,0.436,0.297,0.075000,0.375000,0.147854
8,R Cano,NYY,2B,160,626,103,200,41,3,29,...,57,77,3,2,0.381,0.534,0.319,0.181250,0.681250,0.123003
9,B Phillips,CIN,2B,155,626,100,172,33,5,18,...,46,83,16,12,0.332,0.430,0.275,0.116129,0.380645,0.132588
10,R Braun,MIL,OF,157,619,101,188,45,1,25,...,56,105,14,3,0.365,0.501,0.304,0.159236,0.656051,0.169628
15,C McGehee,MIL,3B,157,610,70,174,38,1,23,...,50,102,1,1,0.337,0.464,0.285,0.146497,0.662420,0.167213
16,M Cuddyer,MIN,1B,157,609,93,165,37,5,14,...,58,93,7,3,0.336,0.417,0.271,0.089172,0.515924,0.152709
22,M Prado,ATL,2B,140,599,100,184,40,3,15,...,40,86,5,3,0.350,0.459,0.307,0.107143,0.471429,0.143573
23,M Holliday,STL,OF,158,596,95,186,45,1,28,...,69,93,9,5,0.390,0.532,0.312,0.177215,0.651899,0.156040
24,B Butler,KC,1B,158,595,77,189,45,0,15,...,69,78,0,0,0.388,0.469,0.318,0.094937,0.493671,0.131092
25,V Guerrero,TEX,DH,152,593,83,178,27,1,29,...,35,60,4,5,0.345,0.496,0.300,0.190789,0.756579,0.101180
29,V Wells,TOR,OF,157,590,79,161,44,3,31,...,50,84,6,4,0.331,0.515,0.273,0.197452,0.560510,0.142373
30,A Beltre,BOS,3B,154,589,84,189,49,2,28,...,40,82,2,1,0.365,0.553,0.321,0.181818,0.662338,0.139219
35,A Pujols,STL,1B,159,587,115,183,39,1,42,...,103,76,14,4,0.414,0.596,0.312,0.264151,0.742138,0.129472
44,M Byrd,CHC,OF,152,580,84,170,39,2,12,...,31,98,5,1,0.346,0.429,0.293,0.078947,0.434211,0.168966
45,A Pagan,NYM,OF,151,579,80,168,31,7,11,...,44,97,37,9,0.340,0.425,0.290,0.072848,0.456954,0.167530
51,A McCutchen,PIT,OF,154,570,94,163,35,5,16,...,70,89,33,10,0.365,0.449,0.286,0.103896,0.363636,0.156140
52,D Young,MIN,OF,153,570,77,170,46,1,21,...,28,81,5,4,0.333,0.493,0.298,0.137255,0.732026,0.142105
54,A Huff,SF,1B,157,569,100,165,35,5,26,...,83,91,7,0,0.385,0.506,0.290,0.165605,0.547771,0.159930
57,A Rios,CWS,OF,147,567,89,161,29,3,21,...,38,93,34,14,0.334,0.457,0.284,0.142857,0.598639,0.164021
116,V Martinez,BOS,C,127,493,64,149,32,1,20,...,40,52,1,0,0.351,0.493,0.302,0.157480,0.622047,0.105477
128,T Tulowitzki,COL,SS,122,470,89,148,32,3,27,...,48,78,11,2,0.381,0.568,0.315,0.221311,0.778689,0.165957
155,C Utley,PHI,2B,115,425,75,117,20,2,16,...,63,63,13,2,0.387,0.445,0.275,0.139130,0.565217,0.148235
156,M Aviles,KC,2B,110,424,63,129,16,3,8,...,20,49,14,5,0.335,0.413,0.304,0.072727,0.290909,0.115566
157,D Murphy,TEX,OF,138,419,54,122,26,2,12,...,45,71,14,2,0.358,0.449,0.291,0.086957,0.471014,0.169451
165,B Posey,SF,C,108,406,58,124,23,2,18,...,30,55,0,2,0.357,0.505,0.305,0.166667,0.620370,0.135468
177,I Kinsler,TEX,2B,103,391,73,112,20,1,9,...,56,57,15,5,0.382,0.412,0.286,0.087379,0.436893,0.145780
181,R Furcal,LAD,SS,97,383,66,115,23,7,8,...,40,60,22,4,0.366,0.460,0.300,0.082474,0.443299,0.156658
224,M Ordonez,DET,OF,84,323,56,98,17,1,12,...,40,38,1,0,0.378,0.474,0.303,0.142857,0.702381,0.117647
230,C Jones,ATL,3B,95,317,47,84,21,0,10,...,61,47,5,0,0.381,0.426,0.265,0.105263,0.484211,0.148265
235,R Hernandez,CIN,C,97,313,30,93,18,1,7,...,29,49,0,0,0.364,0.428,0.297,0.072165,0.494845,0.156550
238,D Pedroia,BOS,2B,75,302,53,87,24,1,12,...,37,38,9,1,0.367,0.493,0.288,0.160000,0.546667,0.125828
240,D Valencia,MIN,3B,85,299,30,93,18,1,7,...,20,46,2,0,0.351,0.448,0.311,0.082353,0.470588,0.153846
251,C Crisp,OAK,OF,75,290,51,81,14,4,8,...,30,49,32,3,0.342,0.438,0.279,0.106667,0.506667,0.168966
277,C Guillen,DET,2B,68,253,26,69,17,1,6,...,21,41,1,2,0.327,0.419,0.273,0.088235,0.500000,0.162055
321,R Hanigan,CIN,C,70,203,25,61,11,0,5,...,33,21,0,0,0.405,0.429,0.300,0.071429,0.571429,0.103448
333,K Morales,LAA,1B,51,193,29,56,5,0,11,...,12,31,0,1,0.346,0.487,0.290,0.215686,0.764706,0.160622