In [ ]:
import pandas as pd

**Reading the dataset**

In [ ]:
dt_baseball = pd.read_csv('/content/mlbbat10.csv')

*Investigando a quantidade de colunas e elementos que a tabela possui.*

In [ ]:
dt_baseball.shape

(1199, 19)

*Initially it will be analyzed which are the columns that the dataset has:*

In [ ]:
dt_baseball.columns

Index(['name', 'team', 'position', 'game', 'at_bat', 'run', 'hit', 'double',
       'triple', 'home_run', 'rbi', 'total_base', 'walk', 'strike_out',
       'stolen_base', 'caught_stealing', 'obp', 'slg', 'bat_avg'],
      dtype='object')

*If you don't understand baseball that's fine, i'll help you understand what each column means.*



*   name : the name of the player
*   team : the player's team
*   position : the player's position
*   game : how many games did he play
*   at_bat : the number of times the player had time at bat against a pitcher
*   run : is the number of runs the player has made safely around 3 bases and back safely before 3 outs are made.
*   hit : how many times did the player reach safety after hitting the ball
*   double : how many times did the player hit the pitched ball and safely reached second base
*   triple : how many times did the player hit the ball and reached third base, without the help of an intervening error or attempt to put out another baserunner.
*   home run: how many times the player did hit the ball and was able to circle the bases and reach home plate safely.
*   
*
*
*

Investigando os tipos de dados que cada coluna tem

In [ ]:
dt_baseball.dtypes

name                object
team                object
position            object
game                 int64
at_bat               int64
run                  int64
hit                  int64
double               int64
triple               int64
home_run             int64
rbi                  int64
total_base           int64
walk                 int64
strike_out           int64
stolen_base          int64
caught_stealing      int64
obp                float64
slg                float64
bat_avg            float64
dtype: object

Mudando os valores int para float

In [ ]:
dt_baseball.game.astype('float64')

0       162.0
1       157.0
2       157.0
3       160.0
4       160.0
        ...
1194      3.0
1195      4.0
1196      7.0
1197      6.0
1198      4.0
Name: game, Length: 1199, dtype: float64

Verificando quais são os jogadores que estão sem posição.

In [ ]:
dt_baseball.loc[pd.isnull(dt_baseball.position)]['name']

Series([], Name: name, dtype: object)

*Os primeiros 5 elementos da tabela são:*

In [ ]:
dt_baseball.head()

,name,team,position,game,at_bat,run,hit,double,triple,home_run,rbi,total_base,walk,strike_out,stolen_base,caught_stealing,obp,slg,bat_avg
0,I Suzuki,SEA,OF,162,680,74,214,30,3,6,43,268,45,86,42,9,0.359,0.394,0.315
1,D Jeter,NYY,SS,157,663,111,179,30,3,10,67,245,63,106,18,5,0.340,0.370,0.270
2,M Young,TEX,3B,157,656,99,186,36,3,21,91,291,50,115,4,2,0.330,0.444,0.284
3,J Pierre,CWS,OF,160,651,96,179,18,3,1,47,206,45,47,68,18,0.341,0.316,0.275
4,R Weeks,MIL,2B,160,651,112,175,32,4,29,83,302,76,184,11,4,0.366,0.464,0.269

Procurando jogadores que não possuem posição na tabela.

In [ ]:
dt_baseball.loc[dt_baseball['position'].isnull()]

Empty DataFrame
Columns: [name, team, position, game, at_bat, run, hit, double, triple, home_run, rbi, total_base, walk, strike_out, stolen_base, caught_stealing, obp, slg, bat_avg]
Index: []

Procurando os jogadores do New York Yankees.

In [ ]:
dt_baseball[dt_baseball['team']=='NYY']['name']

1             D Jeter
8              R Cano
20         M Teixeira
58          N Swisher
92        A Rodriguez
122         B Gardner
131      C Granderson
167          A Kearns
182          J Posada
268        F Cervelli
315          M Thames
374            R Pena
427         L Berkman
472         N Johnson
488         J Miranda
506            R Winn
510          C Curtis
552           E Nunez
555           K Russo
666          G Golson
690         C Huffman
709         C Moeller
792        C Sabathia
811        A Pettitte
903         A Burnett
930          P Hughes
953          M Rivera
967         J Vazquez
971          A Aceves
1010    J Chamberlain
1042         C Gaudin
1079          B Logan
1090          D Marte
1101          S Mitre
1109           I Nova
1120           C Park
1145      D Robertson
Name: name, dtype: object

Existe uma maneira mais elegante de procurar a mesma coisa.

In [ ]:
dt_baseball.loc[dt_baseball.team == 'NYY']['name']

1             D Jeter
8              R Cano
20         M Teixeira
58          N Swisher
92        A Rodriguez
122         B Gardner
131      C Granderson
167          A Kearns
182          J Posada
268        F Cervelli
315          M Thames
374            R Pena
427         L Berkman
472         N Johnson
488         J Miranda
506            R Winn
510          C Curtis
552           E Nunez
555           K Russo
666          G Golson
690         C Huffman
709         C Moeller
792        C Sabathia
811        A Pettitte
903         A Burnett
930          P Hughes
953          M Rivera
967         J Vazquez
971          A Aceves
1010    J Chamberlain
1042         C Gaudin
1079          B Logan
1090          D Marte
1101          S Mitre
1109           I Nova
1120           C Park
1145      D Robertson
Name: name, dtype: object

Selecionando a primeira linha da tabela

In [ ]:
dt_baseball.iloc[0]

name               I Suzuki
team                    SEA
position                 OF
game                    162
at_bat                  680
run                      74
hit                     214
double                   30
triple                    3
home_run                  6
rbi                      43
total_base              268
walk                     45
strike_out               86
stolen_base              42
caught_stealing           9
obp                   0.359
slg                   0.394
bat_avg               0.315
Name: 0, dtype: object

Descobrindo o time que joga o jogador número 10.

In [ ]:
dt_baseball.loc[10:10, 'team']

10    MIL
Name: team, dtype: object

Descobrindo e analisando apenas os times, posições e nome dos jogadores.

In [ ]:
dt_baseball.loc[0:, ['name', 'team', 'position']]

            name team position
0       I Suzuki  SEA       OF
1        D Jeter  NYY       SS
2        M Young  TEX       3B
3       J Pierre  CWS       OF
4        R Weeks  MIL       2B
...          ...  ...      ...
1194      B Wood   KC        P
1195    M Wuertz  OAK        P
1196  M Zagurski  PHI        P
1197   B Ziegler  OAK        P
1198    J Zumaya  DET        P

[1199 rows x 3 columns]

Descobrir quantos jogadores do New York Yankees joga na posição third base.

In [ ]:
dt_baseball.loc[(dt_baseball['team']=='NYY') & (dt_baseball['position']=='3B')]

,name,team,position,game,at_bat,run,hit,double,triple,home_run,rbi,total_base,walk,strike_out,stolen_base,caught_stealing,obp,slg,bat_avg
92,A Rodriguez,NYY,3B,137,522,74,141,29,2,30,125,264,59,98,4,3,0.341,0.506,0.270
374,R Pena,NYY,3B,85,154,18,35,1,1,0,18,38,6,27,7,1,0.258,0.247,0.227
552,E Nunez,NYY,3B,30,50,12,14,1,0,1,7,18,3,2,5,0,0.321,0.360,0.280
555,K Russo,NYY,3B,31,49,5,9,2,0,0,4,11,3,9,1,0,0.245,0.224,0.184

Conhecendo melhor os valores de todos jogadores em relação à triple.

In [ ]:
dt_baseball.triple.describe()

count    1199.000000
mean        0.722269
std         1.601990
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max        14.000000
Name: triple, dtype: float64

Qual foi a média de jogos que os jogadores da liga jogaram?

In [ ]:
dt_baseball.game.mean()

50.534612176814015

Quantos jogadores de cada time existem na tabela.

In [ ]:
dt_baseball.team.value_counts()

FLA    53
NYM    47
PIT    46
WSH    45
ARI    45
COL    44
HOU    44
LAD    44
CIN    43
ATL    42
BOS    42
STL    41
SD     41
SF     40
SEA    40
MIL    40
PHI    39
CHC    39
LAA    38
NYY    37
TEX    37
DET    36
MIN    36
BAL    36
OAK    36
CLE    35
TB     34
TOR    34
KC     33
CWS    32
Name: team, dtype: int64

Quais é o jogador com o maior número de strike out.

In [ ]:
dt_baseball.loc[dt_baseball.strike_out.idxmax()]['name']

'M Reynolds'

Como encontrar os jogadores do time Los Angeles Dodgers.

In [ ]:
dt_baseball.loc[dt_baseball.team.map(lambda team : team == 'LAD')].name

19             M Kemp
33            J Loney
38          R Theriot
98           A Ethier
104           C Blake
181          R Furcal
202         J Carroll
218          R Martin
234         R Barajas
323         R Johnson
330         M Ramirez
362        R Belliard
373        G Anderson
380       S Podsednik
395          J Castro
406            X Paul
423           A Ellis
469         J Gibbons
490          B Ausmus
495     C Billingsley
529         C Kershaw
530          H Kuroda
538           T Lilly
574        R Mitchell
637             J Ely
648         V Padilla
667              C Hu
668         T Oeltjen
710     C Monasterios
721         J Lindsey
771          C Haeger
794          J Weaver
886        R Troncoso
932          K Jansen
934             H Kuo
959     T Schlichting
984       R Belisario
998         J Broxton
1028         S Elbert
1078           J Link
1100         J Miller
1118          R Ortiz
1160       G Sherrill
1179       J Taschner
Name: name, dtype: object

Quantos jogadores possuem o mesmo valor de stolen base.

In [ ]:
dt_baseball.groupby('stolen_base').stolen_base.count()

stolen_base
0     793
1     113
2      51
3      32
4      26
5      33
6       9
7      21
8      12
9      11
10     12
11     10
12      8
13      6
14      6
15      4
16      3
17      7
18      4
19      3
20      2
21      1
22      3
24      2
25      1
26      3
27      1
28      1
29      2
30      3
32      3
33      1
34      3
37      1
42      3
47      2
50      1
52      1
68      1
Name: stolen_base, dtype: int64

Quais as posições que fizeram menos home run

In [ ]:
dt_baseball.groupby('position').home_run.count()

position
-       8
1B     69
2B     72
3B     71
C     113
DH     25
OF    226
P     544
SS     71
Name: home_run, dtype: int64

A quantidade de home runs que cada time fez

In [ ]:
dt_baseball.groupby('team').home_run.count()

team
ARI    45
ATL    42
BAL    36
BOS    42
CHC    39
CIN    43
CLE    35
COL    44
CWS    32
DET    36
FLA    53
HOU    44
KC     33
LAA    38
LAD    44
MIL    40
MIN    36
NYM    47
NYY    37
OAK    36
PHI    39
PIT    46
SD     41
SEA    40
SF     40
STL    41
TB     34
TEX    37
TOR    34
WSH    45
Name: home_run, dtype: int64

Qual jogador fez mais home runs
```

In [ ]:
dt_baseball.loc[(dt_baseball.home_run.idxmax()), 'name']

'J Bautista'

Qual jogador de cada time fez o maior número de home runs

In [ ]:
dt_baseball.loc[(dt_baseball.groupby('team').home_run.idxmax()), ('name', 'home_run', 'team')].sort_values(by='home_run')

             name  home_run team
71   K Kouzmanoff        16  OAK
68   Y Betancourt        16   KC
120      B McCann        21  ATL
27        G Jones        21  PIT
73         S Choo        22  CLE
185     R Branyan        25  SEA
133     A Ramirez        25  CHC
262       J Thome        25  MIN
13        H Pence        25  HOU
138      M Napoli        26  LAA
54         A Huff        26   SF
140       L Scott        27  BAL
19         M Kemp        28  LAD
118        C Pena        28   TB
37       D Wright        29  NYM
74       R Howard        31  PHI
28     A Gonzalez        31   SD
95     J Hamilton        32  TEX
110    M Reynolds        32  ARI
46      P Fielder        32  MIL
97        D Ortiz        32  BOS
31        D Uggla        33  FLA
20     M Teixeira        33  NYY
34     C Gonzalez        34  COL
78        J Votto        37  CIN
75      M Cabrera        38  DET
65         A Dunn        38  WSH
76      P Konerko        39  CWS
35       A Pujols        42  STL
53     J Bautista        54  TOR

Qual jogador de cada time e cada posição teve mais strike out

In [ ]:
dt_baseball.groupby(['team', 'position']).apply(lambda jogador : jogador.loc[jogador.strike_out.idxmax()])

                      name team position  game  at_bat  run  hit  double  \
team position
ARI  1B          A LaRoche  ARI       1B   151     560   75  146      37
     2B          K Johnson  ARI       2B   154     585   93  166      36
     3B         M Reynolds  ARI       3B   145     499   79   99      17
     C           M Montero  ARI        C    85     297   36   79      20
     OF            J Upton  ARI       OF   133     495   73  135      27
...                    ...  ...      ...   ...     ...  ...  ...     ...
WSH  3B        R Zimmerman  WSH       3B   142     525   85  161      32
     C         I Rodriguez  WSH        C   111     398   32  106      18
     OF        R Bernadina  WSH       OF   134     414   52  102      18
     P            J Lannan  WSH        P    24      44    1    4       2
     SS          I Desmond  WSH       SS   154     525   59  141      27

               triple  home_run  rbi  total_base  walk  strike_out  \
team position
ARI  1B             2        25  100         262    48         172
     2B             5        26   71         290    79         148
     3B             2        32   85         216    83         211
     C              2         9   43         130    29          71
     OF             3        17   69         219    64         152
...               ...       ...  ...         ...   ...         ...
WSH  3B             0        25   85         268    69          98
     C              1         4   49         138    16          66
     OF             3        11   47         159    35          93
     P              0         0    4           6     4          22
     SS             4        10   65         206    28         109

               stolen_base  caught_stealing    obp    slg  bat_avg
team position
ARI  1B                  0                1  0.320  0.468    0.261
     2B                 13                7  0.370  0.496    0.284
     3B                  7                4  0.320  0.433    0.198
     C                   0                1  0.332  0.438    0.266
     OF                 18                8  0.356  0.442    0.273
...                    ...              ...    ...    ...      ...
WSH  3B                  4                1  0.388  0.510    0.307
     C                   2                3  0.294  0.347    0.266
     OF                 16                2  0.307  0.384    0.246
     P                   0                0  0.167  0.136    0.091
     SS                 17                5  0.308  0.392    0.269

[230 rows x 19 columns]